/******************************************************/
/*Document*/

* {
  box-sizing: border-box;
}

.html {

}

.body {
  font-family: 'Questrial', 'Arial', sans-serif;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.container2 {
  position: relative;
  top: 70px;
}

/******************************************************/
/*ROW navigation*/

.navigation {
  display: flex;
  /*align-items: center;*/
  height: 70px;
  background-color: #0c6fbc;
  position: fixed;
  z-index: 300;
  width: 100%;
  box-shadow: 0 2px 3px rgba(110, 110, 110,.4);
}

.hamburger {
  display: none;
  align-items: center;
  height: 100%;
}

.name {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 3em;
  font-family: 'Questrial', 'Arial', sans-serif;
  font-weight: bold;
  padding-left: 30px;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-weight: bold;
}

.menu ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.menu ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px 0 10px;
  font-size: 1.4em;
  color: white;
  transition: all 0.3s;
}

.menu ul li a:hover {
  text-decoration: none;
  color: #1d85c0;
  background-color: rgba(255,255,255,.7);
}

.social {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.social ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.social ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.7em;
  color: white;
  padding: 0 7px 0 7px;
}

.social ul li a:hover {
  text-decoration: none;
}

/******************************************************/
/*ROW home*/
.home {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../img/twitter_py_background.jpg");
  background-size: cover;
  /*top: 70px;*/
}

.filter{
  background-color: rgba(0,0,0,.8);
  position: absolute;
  overflow: hidden;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.profilepic {
  text-align: center;
}

.avatar {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  box-shadow: 0px -1px 10px rgba(0,0,0,.8);
}

.hello {
  padding: 50px 50px 50px 50px;
  color: white;
}

.heading {
  font-size: 5em;
  font-family: 'Questrial', 'Arial', sans-serif;
  padding: 0 0 0 20px;
  z-index: 200;
}

.tagline {
  padding: 20px;
  font-size: 1.7em;
  font-style: italic;
}

.tagline-small {
  font-size: .9em;
}

.dclink {
  font-style: normal;
  font-family: 'Didact Gothic', sans-serif;
}

.summary {
  padding: 20px 0 0 0;
}

.summary .col-xs-12 {
  text-align: center;
}

.summary .fa {
  font-size: 3em;
  color: #288ecb;
}

.summary h1{
  /*color: #1771b6;*/
  color: white;
  font-size: 22px;
}

.summary p{

}

/******************************************************/
/*ROW about*/
.about {
  background-color: white;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bbbdbf;
  padding: 10px 20px 20px 20px;
}

.contact-card h1 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #000;
}

.contact-form {
  font-size: 1.5em;
  font-family: 'Questrial', sans-serif;
}

.contact-form .form-group {
  display: flex;
  align-items: center;
}

.contact-form .form-group label {
  color: #000;
  font-weight: bold;
}

.contact-form a {
  color: white;
}

.contact-card .about-social {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
}

.contact-card .about-social ul {
  display: flex;
  flex-direction: row;
}

.contact-card .about-social ul li a{
  padding-left: 10px;
  color: #0c6fbc;
}

.contact-card .about-social ul li a:hover {
  text-decoration: none;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/******************************************************/
/*ROW skills*/
.skills {
  background-color: white;
  border-color: 1px solid red;
}

/******************************************************/
/*ROW portfolio*/
.portfolio {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.portfolio h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.portfolio .col-sm-3 h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.portfolio .col-sm-3 img{
  width: 50%;
  height: auto;
}

.portfolio .col-sm-3 p {
  font-weight: bold;
  font-size: .8em;

}

/******************************************************/
/*ROW blog*/
.blog{
  background-color: #0c6fbc;
  padding: 100px 0 100px 0;
  display: flex;
  text-align: center;
}

.blog .medium a{
  font-size: 3em;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  color: #545454;
  background-color: white;
  border-bottom: 3px solid #dedede;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}

.blog .medium a:hover{
  background-color: #dedede;
}


/******************************************************/
/*ROW contact*/
.contact {
  background-color: #6e6e71;
  padding: 10px 20px 10px 20px;
  color: white;
}

.contact h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.contact .contact-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}

.contact-social ul {
  display: flex;
  flex-direction: row;
}

.contact-social ul li a{
  padding-left: 10px;
  color: #0c6fbc;
}

.contact-social ul li a:hover {
  text-decoration: none;
}


.contact .copyright{
  padding-top: 20px;
  color: white;
  float: right;
}
